# Unreal generated
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/*/
!Build/*.ico
.vs/
.vscode/
.idea/
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
Plugins/*/Binaries/
Plugins/*/Intermediate/

# Blender backups
*.blend1
*.blend2

# OS
Thumbs.db
.DS_Store

# Python
__pycache__/
*.pyc
